In [3]:
import pandas as pd

In [4]:
covid_data = pd.read_csv("sales_data_sample.csv",encoding = "ISO-8859-1")

In [5]:
covid_data.head()

,Unnamed: 0,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10,10223,37,100.00,1,3965.66,2/20/2004 0:00,Shipped,1,2,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
1,21,10361,20,72.55,13,1451.00,12/17/2004 0:00,Shipped,4,12,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small
2,40,10270,21,100.00,9,4905.39,7/19/2004 0:00,Shipped,3,7,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
3,47,10347,30,100.00,1,3944.70,11/29/2004 0:00,Shipped,4,11,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
4,51,10391,24,100.00,4,2416.56,3/9/2005 0:00,Shipped,1,3,...,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,APAC,O'Hara,Anna,Small

In [8]:
covid_data.head()

,Unnamed: 0,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10,10223,37,100.00,1,3965.66,2/20/2004 0:00,Shipped,1,2,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
1,21,10361,20,72.55,13,1451.00,12/17/2004 0:00,Shipped,4,12,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small
2,40,10270,21,100.00,9,4905.39,7/19/2004 0:00,Shipped,3,7,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
3,47,10347,30,100.00,1,3944.70,11/29/2004 0:00,Shipped,4,11,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
4,51,10391,24,100.00,4,2416.56,3/9/2005 0:00,Shipped,1,3,...,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,APAC,O'Hara,Anna,Small

In [10]:
covid_data["STATUS"].unique()

array(['Shipped', 'In Process'], dtype=object)

In [12]:
import numpy as np

In [13]:
chart_data = pd.DataFrame(
     np.random.randn(20, 3),
     columns=['a', 'b', 'c'])

In [38]:
temp = pd.DataFrame(covid_data.groupby(["STATE"]).sum("SALES")["SALES"])

In [24]:
chart_data.head()

          a         b         c
0  0.096788  1.790608  1.373889
1 -0.528797 -0.935405  1.103635
2  0.382431 -0.110581  0.855479
3 -1.405108 -0.338718 -0.018463
4  0.790858 -1.351652  1.416778

In [35]:
temp.columns.name=None

In [39]:
temp.head()

              SALES
STATE
NSW       305567.11
Victoria  200995.41

In [42]:
covid_data[covid_data["STATE"].isin(["NSW"])]

,Unnamed: 0,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
1,21,10361,20,72.55,13,1451.00,12/17/2004 0:00,Shipped,4,12,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small
2,40,10270,21,100.00,9,4905.39,7/19/2004 0:00,Shipped,3,7,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
4,51,10391,24,100.00,4,2416.56,3/9/2005 0:00,Shipped,1,3,...,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,APAC,O'Hara,Anna,Small
7,75,10361,26,51.15,8,1329.90,12/17/2004 0:00,Shipped,4,12,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small
10,147,10270,32,100.00,2,4302.08,7/19/2004 0:00,Shipped,3,7,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,2628,10270,46,88.00,4,4048.00,7/19/2004 0:00,Shipped,3,7,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
141,2660,10361,44,72.42,5,3186.48,12/17/2004 0:00,Shipped,4,12,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
144,2685,10361,44,100.00,10,5001.92,12/17/2004 0:00,Shipped,4,12,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
145,2764,10361,35,100.00,11,4277.35,12/17/2004 0:00,Shipped,4,12,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
146,2791,10361,23,95.20,12,2189.60,12/17/2004 0:00,Shipped,4,12,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small